<% include layouts/ccdefault.ejs %>
			<section data-ng-view style="padding:10px;">
			  <script type="text/javascript">
			  {	  
			  window.username = <%- username %>;
              window.userid = <%- userid %>;
              window.region = <%- region %>;
			  window.role = <%- role %>;
              window.usermail = <%- usermail %>;
			  }
			  </script>
			</section>
	
    <!--TODO footer commented for time being <div data-ng-include="'views/ccfooter.html'"></div>-->
    <% include includes/ccfoot.ejs %>
    </div>
  </body>
</html>